**/.texpadtmp/**
CS\ 480/Kaggle/__pycache__/*
CS\ 480/A4\ Package/My\ Solution/src_code/output/E1/*.pth
# CS\ 480/A4\ Package/My\ Solution/src_code/data/*
CS\ 480/A4\ Package/My\ Solution/src_code/__pycache__/*
